{
  "name": "{{ item.1.mapper_name | default(item.1.saml_name) }}",
  "protocol": "saml",
  "protocolMapper": "{{ item.1.protocol_mapper | default('saml-user-property-mapper') }}",
  "config": {
    "attribute.name":       "{{ item.1.saml_name }}",
    "friendly.name":        "{{ item.1.friendly_name }}",
    "user.attribute":       "{{ item.1.property }}",
    "attribute.nameformat": "{{ item.1.nameformat | default('Basic') }}"
  }
}
