{
  "name": "nameid",
  "protocol": "saml",
  "protocolMapper": "saml-user-attribute-nameid-mapper",
  "config": {
    "user.attribute": "{{ item.nameid_user_attribute }}",
    "saml.nameid.format": "{% if item.nameid_format == 'email' %}urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress{% else %}urn:oasis:names:tc:SAML:2.0:nameid-format:persistent{% endif %}"
  }
}
