{
  "clientId":    "{{ item.item.client_id }}",
  "name":        "{{ item.item.name }}",
  "enabled":     true,
  "protocol":    "saml",
  "baseUrl":     "{{ item.item.base_url }}",
  "adminUrl":    "{{ item.item.admin_url }}",
  "redirectUris": {{ item.item.redirect_uris | to_json }},
  "defaultClientScopes": [],
  "optionalClientScopes": [],
  "attributes": {
    "saml.assertion.signature":         "{{ item.item.sign_assertions }}",
    "saml.server.signature":            "{{ item.item.sign_documents }}",
    "saml.force.post.binding":          "{{ item.item.force_post_binding }}",
    "saml.authnstatement":              "{{ item.item.include_authnstatement }}",
    "saml.client.signature":            "false",
    "saml_name_id_format":              "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress",
    "saml_assertion_consumer_url_post": "{{ item.item.acs_url }}"
  }
}
