{
  "name": "groups",
  "protocol": "saml",
  "protocolMapper": "saml-group-membership-mapper",
  "config": {
    "attribute.name":       "groups",
    "attribute.nameformat": "Basic",
    "friendly.name":        "groups",
    "single":               "true",
    "full.path":            "false"
  }
}
